doctype html
html(style='background-color:#ddd')
  head
    title Webapp Boilerplate
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/all.css')

    script(type='text/javascript')
      | var JS_VARS = !{JSON.stringify(JS_VARS)}

  body
    div#app
      block content
    script(src='/javascripts/all.js')
