.button {
  display: inline-block;
  padding: 10px 15px;
  margin: 0px;
  border: none;
  box-shadow: rgba(white, 0.05) 1px 1px 0px inset, rgba(white, 0.05) -1px -1px 0px inset;
  background-color: $colorText;
  color: $colorBackground;
  border-radius: $globalRoundness;
  @include clickable;

  .icon {
    vertical-align: middle;
    font-size: 1.3em;
  }

  &:hover {
    background-color: $colorHighlight;
    color: #fff;
  }
}

.limit-width {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;

  &.padded {
    max-width: $maxWidth - ($globalPadding * 2);
    padding-left: $globalPadding;
    padding-right: $globalPadding;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.clickable {
  @include clickable;
}

.shy {
  opacity: 0.5;
}

.ok {
  color: $colorOk;
}

.bad {
  color: $colorBad;
}

.bg-default {
  background-color: $colorBackground;
}

.bg-white {
  background-color: #fff;
}
