/**
*  Sizes
*/
$maxWidth: 1150px;
$globalPadding: 20px;
$globalSpacing: 50px;
$globalRoundness: 4px;

/**
 *  Colors
 */
$colorBackground: #ddd;
$colorText: #333;
$colorHighlight: darken(#7daa64, 10%);

$colorOk: #50af54;
$colorBad: #af5050;

/**
 *  Effects
 */
$mouseEffectsLightnessIncrease: 10%;
$mouseEffectsDuration: 0.15s;
