html {
  background-color: $colorBackground!important; // because the color is set on the html tag
}

body {
  min-height: 100vh;
  margin: 0px;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;

  ::selection {
    background: $colorSelection;
  }
  ::-moz-selection {
    background: $colorSelection;
  }
}

body, input, textarea, button, select {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: $globalFontSize;
  line-height: $globalLineHeightText;
  color: $colorText;

  @media (max-width: $sm - 1px) {
    font-size: $globalMinimumFontSize;
    line-height: $globalLineHeightText;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:first-child {
    margin-top: 0px;
  }
}

h1 {
  font-size: 2em;
  line-height: $globalLineHeightTitle;
  margin-top: 1.5em;
  margin-bottom: $globalPadding;
}

h2 {
  font-size: 1.75em;
  line-height: $globalLineHeightTitle;
  margin-top: 1.25em;
  margin-bottom: $globalPadding;
}

hr {
  border: none;
  height: 1px;
  margin: $globalPadding 0px;
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0px 0px 1px rgba(white, 0.5);
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

a, button, select, input {
  transition: all $mouseEffectsDuration ease-out;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;

  &.styled {
    list-style: disc outside;
    padding-left: 18px;

    li {
      margin-bottom: 0.5em;
    }
  }

  &.inline {
    li {
      display: inline-block;
    }
  }
}
