@import "~COMMON/styles/easings.scss";

// Sizes
// -----------------------------------------
$maxWidth: 1150px;
$globalPadding: 20px;
$globalSpacing: 60px;
$globalRoundness: 4px;
$globalFontSize: 16px;
$globalLineHeight: 1.5em;
$globalPerspective: 900px;

// Responsive sizes
// NOTE : the values are where the specified section ends (exclusively)
// exemple: XS = from 0 to 479px
// -----------------------------------------
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1440px;

// Colors
// -----------------------------------------
$colorBackground: #ddd;
$colorOverlay: rgba(black, 0.35);
$colorText: #222;
$colorHighlight: darken(#7daa64, 10%);
$colorSelection: rgba($colorHighlight, 0.4);
$colorDisabled: #bbb;

$colorOk: #50af54;
$colorBad: #af5050;

// Effects
// -----------------------------------------
$mouseEffectsLightnessIncrease: 10%;
$mouseEffectsDuration: 0.15s;

// UI
// -----------------------------------------
$mainMenuMobileTransition: 0.35s $easeOutQuint;
$mainMenuMobileTransitionPerspective: 0.2;
$mainMenuMobileSide: right; // left | right
$mainMenuMobileMaxWidth: 400px;
$mainMenuMobileZIndex: 99999;
$mainMenuMobileStartAt: $sm;
$mainMenuMobileIconSize: 40px;
