.limit-width {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;

  &.padded {
    max-width: $maxWidth - ($globalPadding * 2);
    padding-left: $globalPadding;
    padding-right: $globalPadding;
  }
}

.text-content {
  p {
    &:first-child {
      margin-top: 0px;
    }
  }

  a {
    border-bottom: 1px dashed rgba($colorText, 0.2);
    &:hover, &.router-link-active {
      border-bottom-color: rgba($colorHighlight, 0.5);
      border-bottom-style: solid;
    }
  }
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.clickable {
  @include clickable;
}

.shy {
  opacity: 0.5;
}

.ok {
  color: $colorOk;
}

.bad {
  color: $colorBad;
}

.bg-default {
  background-color: $colorBackground;
}

.bg-inverted {
  background-color: $colorText;
  color: $colorBackground;
}

.bg-white {
  background-color: #fff;
}

.buttons-container {
  $spacing: $globalPadding * 0.5;

  margin: $spacing * -0.5;
  font-size: 0px;

  > button {
    margin: $spacing * 0.5;
  }
}

// hidden "layer only"
// -----------------------------------------
.hidden-xs {
  @media (max-width: $xs - 1px) {
    display: none;
  }
}

.hidden-sm {
  @media (min-width: $xs) and (max-width: $sm - 1px) {
    display: none;
  }
}

.hidden-md {
  @media (min-width: $sm) and (max-width: $md - 1px) {
    display: none;
  }
}

.hidden-lg {
  @media (min-width: $md) and (max-width: $lg - 1px) {
    display: none;
  }
}

.hidden-xl {
  @media (min-width: $lg) {
    display: none;
  }
}


// hidden "layer and above"
// -----------------------------------------
.hidden-xs-up {
  @media (min-width: 0px) {
    display: none;
  }
}

.hidden-sm-up {
  @media (min-width: $xs) {
    display: none;
  }
}

.hidden-md-up {
  @media (min-width: $sm) {
    display: none;
  }
}

.hidden-lg-up {
  @media (min-width: $md) {
    display: none;
  }
}

.hidden-xl-up {
  @media (min-width: $lg) {
    display: none;
  }
}


// hidden "layer and below"
// -----------------------------------------
.hidden-xs-down {
  @media (max-width: $xs - 1px) {
    display: none;
  }
}

.hidden-sm-down {
  @media (max-width: $sm - 1px) {
    display: none;
  }
}

.hidden-md-down {
  @media (max-width: $md - 1px) {
    display: none;
  }
}

.hidden-lg-down {
  @media (max-width: $lg - 1px) {
    display: none;
  }
}

.hidden-xl-down {
  @media (min-width: 0px) {
    display: none;
  }
}
