.limit-width {
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;

  &.padded {
    max-width: $maxWidth - ($globalPadding * 2);
    padding-left: $globalPadding;
    padding-right: $globalPadding;
  }
}

.text-content {
  p {
    &:first-child {
      margin-top: 0px;
    }
  }

  a {
    border-bottom: 1px dashed rgba($colorText, 0.2);
    &:hover, &.router-link-active {
      border-bottom-color: rgba($colorHighlight, 0.5);
      border-bottom-style: solid;
    }
  }
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.clickable {
  @include clickable;
}

.shy {
  opacity: 0.5;
}

.ok {
  color: $colorOk;
}

.bad {
  color: $colorBad;
}

.bg-default {
  background-color: $colorBackground;
}

.bg-white {
  background-color: #fff;
}

.hidden-xs {
  @media (max-width: $xs){
    display: none;
  }
}

.hidden-sm {
  @media (max-width: $sm){
    display: none;
  }
}

.hidden-md {
  @media (max-width: $md){
    display: none;
  }
}

.hidden-lg {
  @media (max-width: $lg){
    display: none;
  }
}
