/**
*  Sizes
*/
$maxWidth: 1150px;
$globalPadding: 20px;
$globalSpacing: 50px;
$globalRoundness: 4px;
$globalFontSize: 16px;
$globalLineHeight: 1.5em;
$globalPerspective: 900px;

/**
*  Responsive sizes
*  NOTE : the values are where the specified section ends (exclusively)
*  exemple: XS = from 0 to 479px
*/
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1440px;

/**
 *  Colors
 */
$colorBackground: #ddd;
$colorText: #222;
$colorHighlight: darken(#7daa64, 10%);
$colorSelection: lighten($colorHighlight, 40%);
$colorDisabled: #bbb;

$colorOk: #50af54;
$colorBad: #af5050;

/**
 *  Effects
 */
$mouseEffectsLightnessIncrease: 10%;
$mouseEffectsDuration: 0.15s;
